# Dependencies
node_modules/

# Data Files
data/playlists/*
data/lyrics_raw/*
data/lyrics_json/*
data/reports/*
data/cache/*
data/library.json
data/covers/*

!data/playlists/.gitkeep
!data/covers/.gitkeep
!data/lyrics_raw/.gitkeep
!data/lyrics_json/.gitkeep

# IDE
.idea/
.vscode/
*.swp